html{
	width: 60%;
	margin: 0 auto;
}
body{
	padding-top: 30px;
	background: rgb(239,248,247);
}
li{
	list-style-type: none;
}
.lCol{
	width: 20%;
	float: left;
}
.rCol{
	width: 896px;;
	float: left;
	background: yellow;
}
.image img{
	width: 100%;
}
.ssilka{
	top: 445px;
    width: 100%;
    background: #60beae;
}
ul{
	margin-top: 0;
}
.oneOfFour {
    float: left;
    width: 25%;
    margin-left: 0
}
.clear{
	clear: both;
}
.bB{
	width: 25%;
	float: left;
}
.fCI{
	height: 200px;
	width: 200px;
}
.bottom{
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid gray;
	width: 100%;
}
.bRight{
	float: right;
}
.bLeft{
	float: left;
}
.bLeft li{
	display: inline;
}
.bLeft ul{
	margin: 0;
	padding: 0;
}