*{
	width: 85%;
	margin: 0 auto;
	background: #f6f3ec;
}
.top{
	height: 50px;
}
.topnav{
	display: inline;
}
a{
		text-decoration: none;
		font-size: 170%;
		padding: 0 10px 10px;
}
.nav, .image, .nav2{
	float: left;
	width: 33%;
}
.nav, .nav2{
	margin-top: 50px; 
}
.middle{
	border: 1px solid gray;
	margin-bottom: 50px;
}
.middle img{
    border-right: 1px solid gray;
    float: left;
    width: 75%;
    padding: 10px;
   }
.picture img{
	padding: 8px;
    border-right: 1px solid;
}
.rB1{
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}
.rB1, .rB2{
	float: left;
	width: 21%;
	margin-left: 10px; 
	height: 180px;
}
.clear{
	clear: both;
}
.bottom {
    margin-top: 124px;
    width: 100%;
    height: 250px;
    background: #e0d9cb;
}