html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #f8f8f8;
}
.top{
	background: #2c333a;
	height: 66px;
}
.middle{
	width: 70%;
	margin: 0 auto;
	margin-top: 120px;
}
.bigA{
	float: left;
}
.rightTopMenu{
	float: right;
}
.left{
	width: 78%;
	background: white;
}
.lUpBlock{
	background: #2c333a;
	height: 130px;
	margin-bottom: 60px;
}
.right{
	width: 18%;
}
.dBlock{
	border-top: 0.02px solid gray;
	font-size: 20px;
}
.dBlock, .toolBox, .bigImgs, .relatedBox, .preCom, .comment{
	width: 80%;
	margin: 0 auto;
}
.toolBox{
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}
.toolTitle{
    font-size: 40px;
    margin: 0;
}
.subTitle{
	font-size: 20px;
    margin: 0;
}
.block33{
	width: 33%;
	float: left; 
}
.toolImg{
	height: 200px;
	width: 200px;
	float: left;
	display: inline;
}
.tooltext{
	text-decoration: none;
}
.bigImgs p{
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray; 
}
.bigImgs img{
	width: 100%;
	padding-bottom: 10px;
}
.relatedBox{
	padding-bottom: 10px;
}
.clear{
	clear: both;
}
.preCom{
	border-top: 1px solid gray;
	margin-bottom: 30px;
}
.commentDiv{
	background: black;
	margin: 0 auto;
}
.comment{
	width: 80%;
	margin: 0 auto;
}
.bottom{
	height: 200px;
	background: black;
	margin-top: 40px;
}
.comDiv{
	   display: inline-block;
    width: 100%;
    padding: 0;
    background: black;
    height: 50px;
}
.comDiv a{
	color: white;
	font-size: 40px;
	text-decoration: none;
	    margin-left: 353px;
}
.bottom_mass{
		margin-top: 30px;
}
.bottom_mass ul{
	margin: 0 auto;
	margin-top: 30px;
}
.bottom_mass ul li{
	display: inline;
	font-size: 30px;
	color: white;

	padding-left: 30px;
	padding-right: 30px;
}
.bottom_mass ul li a{
	color: white;
	text-decoration: none;

}